body{
    font-family: 'Poppins', sans-serif;: ;
}
h1{
    font-size: 60px;
}
.namehighlight{
    color: rgb(99, 24, 168);
}
h2{
    font-size: 40px;
    
}
h3{
    color: rgb(32, 97, 97);
}
.half-width{
   width: 40%;
   float: left;
   margin-left: 5%;
   padding-left: 2%;
}.half-width img{
    width: 100%;
}
.link-button{
    text-decoration-color: rgb(228, 240, 209);
    background-color: rgb(5, 48, 5) ;
    padding: 10px 20px;
    border-radius: 5px;
    color: ivory;
    font-weight: 700;
}
.dream-area{
    float: right;
}
.my-dance img{
    width: 20%;
    margin-left: 9%;
    padding: 1%;
}
footer p{
    text-align: center;
}


