body{
    font-family: 'Poppins', sans-serif;: ;
}
h1{
    font-size: 60px;
}
.namehighlight{
    color: rgb(99, 24, 168);
}
h3{
    color: rgb(32, 97, 97);
}
.half-width{
   width: 40%;
   float: left;
   margin-left: 5%;
   padding-left: 2%;
}.half-width img{
    width: 100%;
}